<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="apps"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      lvl001
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <lottie-animation-view
    (animCreated)="handleAnimation($event)"
    [options]="interactiveAnimationOption">
  </lottie-animation-view>
    
  <h2 class="level">{{params[1]}}</h2>
  <div class="question">{{params[2]}}</div>
  <div class="fruit {{f}}" *ngFor="let f of params[0]; let i = index" (click)="clickFruit(f, i)">
    <div class="choice error animated heartBeat" *ngIf="f === error"><ion-icon name="close"></ion-icon></div>
    <div class="choice success animated rubberBand slow" *ngIf="f === success"><ion-icon name="checkmark"></ion-icon></div>
  </div>

</ion-content>