.fruit{
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  margin: 16px auto;
}

.strawberry{
  background-color: red;
}
.banana{
  background-color: yellow;
}
.apple{
  background-color: orange;
}
.watermelon{
  background-color: green;
}