.fruit{
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  margin: 16px auto;
}

.sun{
  position: absolute;
  top: 16px;
  left: 16px;
  width: 72px;
  z-index: 0;
}