.fruit{
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  margin: 16px auto;
}

.noDrag{
  position: absolute;
  top: 21px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  z-index: 0;
  img{
    position: absolute;
  }
}