.fruit{
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 4px;
  margin: 16px auto;
}

.strawberry{
  padding: 8px;
}
.banana{
  padding: 14px;
}
.apple{
  padding: 2px;
}
.watermelon{
  padding: 20px;
}

.actions{
  width: 132px;
  margin: 0 auto;
}