<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/home" [routerDirection]="'root'">
        <ion-icon name="apps"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{params[1]}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <lottie-animation-view
    [hidden]="anim.isPaused"
    (animCreated)="handleAnimation($event)"
    [options]="interactiveAnimationOption">
  </lottie-animation-view>
    
  <h2 class="level">{{params[1]}}</h2>
  <p class="question">{{params[2]}}</p>

  <ion-row>
    <ion-col size="6" *ngFor="let f of params[0]; let i = index">
      <div class="fruit" (click)="clickFruit(f, i)">
        <div class="choice error animated heartBeat" *ngIf="f === error"><ion-icon name="close"></ion-icon></div>
        <div class="choice success animated rubberBand" *ngIf="f === success"><ion-icon name="checkmark"></ion-icon></div>
        <img src="assets/lv001/{{f}}.svg" class="{{f}}" />
      </div>
    </ion-col>
  </ion-row>

</ion-content>