// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.choice{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #fff;
  color: #fff;
  padding-top: 5px;
  margin: calc(50% - 15px);
  &.success{
    background-color: green;
  }
  &.error{
    background-color: red;
  }
}