<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="6" *ngFor="let l of levels; let i = index">
      <ion-button size="block" [routerLink]="[l.url]" [routerDirection]="'root'" color="light" class="btn-level">
        <h3 class="level">{{l.name}}</h3>
        <div class="choice error" *ngIf="progressLv === l.name"><ion-icon name="help"></ion-icon></div>
        <div class="choice success" *ngIf="progressLv !== l.name"><ion-icon name="checkmark"></ion-icon></div>
        <div class="choice lock" *ngIf="progressLv !== l.name"><ion-icon name="lock"></ion-icon></div>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>