<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="level">{{params[1]}}</h2>
  <div class="question">{{params[2]}}</div>
  <div class="fruit {{f}}" *ngFor="let f of params[0]; let i = index" (click)="clickFruit(f, i)">
    <lottie-animation-view
      [width]="100"
      [height]="100"
      (animCreated)="handleAnimation($event)"
      [options]="interactiveAnimationOption">
    </lottie-animation-view>
  </div>
</ion-content>