<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button routerLink="/home" [routerDirection]="'root'">
      <ion-icon name="apps"></ion-icon>
    </ion-button>
    <ion-button (click)="refresh()">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>
    <ion-button (click)="generalService.removeKeys()">
      <ion-icon name="key"></ion-icon>
      <span>{{generalService.keys}}</span>
    </ion-button>
  </ion-buttons>
  <ion-title>
    {{params[1]}}
  </ion-title>
</ion-toolbar>
